// TODO Marco Gerosi 02/04/2020
// marco.gerosi@accenture.com
// To use variables.scss file to import color

.box {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(156, 156, 156, 0.5);
    display: flex;
  }
  