$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-icon-alert: "\e900";
$icon-arrow-left: "\e909";
$icon-arrow-right: "\e912";
$icon-cluster-empty-image: "\e924";
$icon-down: "\e927";
$icon-calendar: "\e911";
$icon-stroke-5: "\e910";
$icon-group-4: "\e90d";
$icon-clock: "\e90c";
$icon-logo_enelx: "\e904";
$icon-economics-icon-1: "\e905";
$icon-menu-icon: "\e906";
$icon-edit-1: "\e918";
$icon-trash: "\e919";
$icon-chart: "\e91a";
$icon-settings-2: "\e91b";
$icon-air-conditioning-2: "\e91c";
$icon-air-conditioning-1: "\e91d";
$icon-location: "\e91e";
$icon-user: "\e91f";
$icon-edit1: "\e920";
$icon-procurement-icon: "\e921";
$icon-sustainability-icon: "\e922";
$icon-usage-icon: "\e923";
$icon-report-icon: "\e925";
$icon-area: "\e926";
$icon-close-5: "\e915";
$icon-search-5: "\e916";
$icon-industry-5: "\e917";
$icon-arrow-2: "\e901";
$icon-back: "\e902";
$icon-check: "\e903";
$icon-filters: "\e907";
$icon-query_stats: "\e931";
$icon-forward: "\e908";
$icon-group-10: "\e90a";
$icon-icon-1: "\e90b";
$icon-icon: "\e90e";
$icon-invalid-name: "\e90f";
$icon-update: "\e913";
$icon-visualizer: "\e914";
$icon-calendar1: "\e928";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-icons-general-hamburger-menu: "\e929";
$icon-my-app: "\e92a";
$icon-logo_white: "\e92b";