@import "icon-variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pg7ml5');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pg7ml5#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?pg7ml5') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?pg7ml5') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?pg7ml5##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gateway:before {
  content: "\e934";
}
.icon-variable_value:before {
  content: "\e935";
}
.icon-thing_data:before {
  content: "\e936";
}
.icon-warning-filled:before {
  content: "\e932";
}
.icon-warning-outlined:before {
  content: "\e933";
}
.icon-icon-alert:before {
  content: "\e900";
}
.icon-arrow-2:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
  color: #461e7d;
}
.icon-check:before {
  content: "\e903";
  color: #461e7d;
}
.icon-logo_enelx:before {
  content: "\e904";
  color: #fff;
}
.icon-economics-icon-1:before {
  content: "\e905";
  color: #461e7d;
}
.icon-menu-icon:before {
  content: "\e906";
  color: #fff;
}
.icon-filters:before {
  content: "\e907";
  color: #ff006e;
}
.icon-query_stats:before {
  content: "\e931";
  color: #461e7d;
}
.icon-forward:before {
  content: "\e908";
  color: #461e7d;
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-group-10:before {
  content: "\e90a";
}
.icon-icon-1:before {
  content: "\e90b";
  color: white;
}
.icon-clock:before {
  content: "\e90c";
  color: #461e7d;
}
.icon-group-4:before {
  content: "\e90d";
  color: #461e7d;
}
.icon-icon:before {
  content: "\e90e";
}
.icon-invalid-name:before {
  content: "\e90f";
  color: #461e7d;
}
.icon-stroke-5:before {
  content: "\e910";
  color: #461e7d;
}
.icon-calendar:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-update:before {
  content: "\e913";
  color: #fff;
}
.icon-visualizer:before {
  content: "\e914";
  color: #717171;
}
.icon-close-5:before {
  content: "\e915";
  color: #929292;
}
.icon-search-5:before {
  content: "\e916";
  color: #929292;
}
.icon-industry-5:before {
  content: "\e917";
  color: #461e7d;
}
.icon-edit-1:before {
  content: "\e918";
  color: #461e7d;
}
.icon-trash:before {
  content: "\e919";
  color: #ec092f;
}
.icon-chart:before {
  content: "\e91a";
  color: #fff;
}
.icon-settings-2:before {
  content: "\e91b";
  color: #fff;
}
.icon-air-conditioning-2:before {
  content: "\e91c";
  color: #461e7d;
}
.icon-air-conditioning-1:before {
  content: "\e91d";
  color: #fff;
}
.icon-location:before {
  content: "\e91e";
  color: #707070;
}
.icon-user:before {
  content: "\e91f";
  color: #707070;
}
.icon-edit1:before {
  content: "\e920";
  color: #461e7d;
}
.icon-procurement-icon:before {
  content: "\e921";
  color: #461e7d;
}
.icon-sustainability-icon:before {
  content: "\e922";
  color: #461e7d;
}
.icon-usage-icon:before {
  content: "\e923";
  color: #461e7d;
}
.icon-cluster-empty-image:before {
  content: "\e924";
  color: #b2b2b2;
}
.icon-report-icon:before {
  content: "\e925";
  color: #461e7d;
}
.icon-area:before {
  content: "\e926";
  color: #461e7d;
}
.icon-down:before {
  content: "\e927";
  color: #461e7d;
}
.icon-calendar1:before {
  content: "\e928";
  color: #461e7d;
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-icons-general-hamburger-menu:before {
  content: "\e929";
  color: #fff;
}
.icon-my-app:before {
  content: "\e92a";
}
.icon-logo_white:before {
  content: "\e92b";
  color: #fff;
}

.icon-General-_-bolt-electricity{
  &:before {
    content: "\e92e";
    color: #5738ff;
  }
}

.icon-General-_-Saving_Money {
  &:before {
    content: "\e92d";
    color: #5738ff;
  }
}

.icon-Information {
  &:before {
    content: "\e92c";
    color: #461e7d;
  }
}

.icon-ic-enelstyle-copy {
  &:before {
    content: "\e92f";
    color: #461e7d;
  }
}

.icon-filter {
  &:before {
    content: "\e930";
    color: #461e7d;
  }
}
